.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 40%;
}

h2 {
  font-family: Verdana;
}
nav {
    background-color:lightblue
    


    
}

section {
    color: lightsalmon;
}

img {
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
}
table {
    background-color: blueviolet;
}
nav  {
    text-align: center;
}
.submit-button:hover {
    background-color:lightblue

}

