* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #fff;
  padding: 18px;
  color: #111;
  line-height: 1.25;
  font-size: 14px;
}


.grid-container {
  display: grid;
 grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 18px;
  align-items: start;
}


.box {
  padding: 14px 16px;
  border-radius: 2px;
  word-wrap: break-word;
}


.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: #7e22d9; 
  color: #0b0710;
 
}


.box2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: #bfbfbf;
  color: #111;

}


.box3 {
  grid-column: 3 / 3;
  grid-row: 1 / 4; 
  background: #d8a9f0;
  color: #111;
  min-height: 220px;

  
}


.box4 {
  grid-column: 1 /2;
  grid-row: 2 / 2;
  background: #efecef;
  color: #111;
  min-height: 120px;

}


.box5 {
  grid-column: 2 / 2; 
  grid-row: 3 / 2;
  background: #241f24; 
  color: #f4f3f6;
  min-height: 120px;
  
}


          
       
   